body{
    padding: 0;
    margin: 0;
    background-color: black;
}

center{
    align-items: center;
    justify-content: center;
}

.card{
    display:flex;
    width: 600px;
    height: 150px;
    color: aliceblue;
    min-width: 30px;
    background-color: blueviolet;
}

label{
    padding: 10px;
    margin-left: 10px;
}

.btn{
   border: none;
   font-size: 12px;
   font-weight: bold;
   background-color: aliceblue;
   color: blueviolet;
}